{% extends 'base.html' %}
{% block content %}
{% load static %}
<style> 
    .lb-dark-purple {
        color: #fff;
        background-color: #302746ff;
    }
    .lb-celeste {
        color: #000;
        background-color: #B0E3E1ff;
    }
    .lb-tiffany-blue {
        color: #000;
        background-color: #87C9C8ff;
    }
    .lb-brown-sugar {
        color: #000;
        background-color: #AB705Eff;
    }
    .lb-garnet {
        color: #fff;
        background-color: #753B3Cff;
    }
    .lb-palepurple {
        color: #000;
        background-color: #9379c4;
    }

    /* Lighter Shades */

    .lb-lilac {
        color: #000;
        background-color: #a994d0ff;
    }

    .lb-lavender {
        color: #000;
        background-color: #beaedbff;
    }

    .lb-thistle {
        color: #000;
        background-color: #d4c9e7ff;
    }

    .lb-mauve {
        color: #000;
        background-color: #e9e4f3ff;
    }

    /* Darker Shades */

    .lb-purple {
        color: #fff;
        background-color: #76619dff;
    }

    .lb-dark-purple {
        color: #fff;
        background-color: #584976ff;
    }

    .lb-deep-purple {
        color: #fff;
        background-color: #3b314eff;
    }

    .lb-very-dark-purple {
        color: #fff;
        background-color: #1d1827ff;
    }

</style>
<!-- Introduction Section -->
    <!-- Showcase -->
    <section
      class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div p-5>
            <h1>Augment your learning through <br><span class="text-warning"> Role Play </span></h1>
            <p class="lead my-4">
              Use our AI powered role play to practice your conversation skills and improve your learning experience.
            </p>
              <a class="btn btn-primary" role="button" href="{% url 'signup' %}">Signup for a free trial</a>
              <a class="btn btn-primary" role="button" href="{% url 'onetimetrial' %}">Try is right now</a>
          </div>
          <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'img/2pplroleplay_ill.jpg' %}" alt="2 People role playing a end_conversation">
        </div>
      </div>
    </section>

    <!-- Newsletter -->
    <section class="lb-celeste p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>

        <div class="input-group news-input">
            <input type="text" class="form-control" placeholder="Enter Email" />
            <button class="btn btn-dark btn-lg" type="button">Submit</button>
        </div>
        </div>
    </div>
    </section>
        <!-- Boxes -->
        <section class="p-5 lb-dark-purple">
            <div class="container">
              <div class="row text-center g-4">
                <div class="col-md">
                  <div class="card infobox lb-tiffany-blue appear">
                    <div class="card-body text-center">
                      <div class="h1 mb-3">
                        <i class="bi bi-laptop"></i>
                      </div>
                      <h3 class="card-title mb-3">Practical</h3>
                      <p class="card-text">
                        Mastering new skills is challenging, and speaking to strangers can be intimidating. 
                        RoleGenie offers a safe space to practice and build your conversation skills with confidence.
                      </p>
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="card infobox lb-celeste appear">
                    <div class="card-body text-center">
                      <div class="h1 mb-3">
                        <i class="bi bi-person-square"></i>
                      </div>
                      <h3 class="card-title mb-3">Versatile</h3>
                      <p class="card-text">
                        Customer support, sales, social work—you name it. We provide a vast range of scenarios to help you excel in any field. 
                        Don’t see what you need? Our AI experts are constantly adding new situations.
                      </p>
                      <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="card infobox lb-tiffany-blue appear">
                    <div class="card-body text-center">
                      <div class="h1 mb-3">
                        <i class="bi bi-people"></i>
                      </div>
                      <h3 class="card-title mb-3">Feedback</h3>
                      <p class="card-text">
                        After every conversation, receive personalized feedback to rapidly improve and refine your skills.<br><br><br>
                      </p>
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      
          <!-- Tier and Pricing Sections -->
          <section id="learn" class="p-5 lb-palepurple">
            <div class="container">
              <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <div class="row g-4">
                        <div class="col-md-6">
                          <div class="card lb-mauve appear">
                            <div class="card-header text-center">
                                <H3>Free</H3>
                            </div>
                            <div class="card-body text-center">
                              <p class="card-text">
                                Choose 3 scenarios from our base collection.<br>
                                Everything else is the same as our paid tiers.
                              </p>
                              <div class="h4">Free</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card lb-mauve appear">
                            <div class="card-header text-center">
                                <H3>Individual Plan</H3>
                            </div>
                            <div class="card-body text-center">
                              <p class="card-text">
                                Access to all our base scenarios and able to request new scenarios for a small feedback
                              </p>
                              <div class="h4">$15 per month</div>
                            </div>
                          </div>
                        </div>
                    </div>        
                </div>
                <div class="col-md p-5">
                  <h2>Individual Plans</h2>
                  <p class="lead">
                    Our platform offers a range of scenarios to help you practice and improve your conversation skills. 
                  </p>
                  <p>
                    We offer a free tier that allows you to try out a selection of scenarios, 
                    as well as flexible subscription plans to suit your needs.
                    Our AI experts are constantly adding new scenarios to help you excel in any field. 
                    Don’t see what you need? Contact us to request a custom scenario.
                    Custom scenarios are available for a one-time fee of $50.
                  </p>
                  <a href="#" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-right"></i> Read More
                  </a>
                </div>
              </div>
            </div>
          </section>
      
          <section id="learn" class="p-5 bg-dark text-light">
            <div class="container">
              <div class="row align-items-center justify-content-between">
                <div class="col-md p-5">
                  <h2>Business Users</h2>
                  <p class="lead">
                    Have a team or teams of people that you'd like to train? 
                    We offer a range of plans to suit your needs.
                  </p>
                  <p>
                    Our platform integrates with common SSO and LMS systems, provides a way to manage your team's progress,
                    create custom scenarios, and more. Starting at $10 per user per month. Sign up here or contact us to find out more.
                  </p>
                  <a href="#" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-right"></i> Read More
                  </a>
                </div>
                <div class="col-md">
                  <div class="row g-2">
                      <div class="col-md-6">
                        <div class="card bg-secondary appear">
                          <div class="card-header text-center text-light">
                              <H3>SME</H3>
                          </div>
                          <div class="card-body text-light">
                              <ul class="card-text">
                                  <li>Up to 10 students and access to all our base scenarios.</li>
                                  <li>Access to all our base scenarios and able to request new scenarios for a small feed.</li>
                                  <li>Assign scenarios to your students and track their progress.</li>
                              </ul>
                              <div class="h4 text-center">$10 per user per month</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="card bg-secondary appear">
                              <div class="card-header text-center text-light">
                                  <H3>Enterprise</H3>
                              </div>
                              <div class="card-body text-light">
                                  <div class="card-body text-light">
                                      <ul class="card-text">
                                          <li>Up to 100 students and access to all our base scenarios.</li>
                                          <li>Access to all our base scenarios and able to <strong>create</strong> new scenarios.</li>
                                          <li>SSO and LMS integration available.</li>
                                      </ul>
                                      <div class="h4 text-center">$20 per user per month</div>
                                  </div>
                              </div>
                          </div>
                      </div>        
                  </div>
                </div>
            </div>
          </section>
          <!-- Question Accordion -->
          <section id="questions" class="p-5 lb-thistle">
            <div class="container">
              <h2 class="text-center mb-4">Frequently Asked Questions</h2>
              <div class="accordion accordion-flush appear" id="questions">
                <!-- Item 1 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-one"
                    >
                      Where exactly are you located?
                    </button>
                  </h2>
                  <div
                    id="question-one"
                    class="accordion-collapse collapse"
                    data-bs-parent="#questions"
                  >
                    <div class="accordion-body">
                        We are a fully online company proudly headquartered in the vibrant city of Melbourne, Australia. 
                        While our services are accessible worldwide, our roots are firmly planted in Melbourne’s dynamic tech community.
                    </div>
                  </div>
                </div>
                <!-- Item 2 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-two"
                    >
                      How much does it cost to use?
                    </button>
                  </h2>
                  <div
                    id="question-two"
                    class="accordion-collapse collapse"
                    data-bs-parent="#questions"
                  >
                    <div class="accordion-body">
                        We offer a selection of role-play scenarios absolutely free! 
                        You can choose up to three from our list of about 20 popular scenarios available in the free tier. 
                        This allows you to experience our platform without any commitment. 
                        For unlimited access and advanced features, we offer flexible subscription plans to suit your needs.
                    </div>
                  </div>
                </div>
                <!-- Item 3 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-three"
                    >
                      What do I need to Know?
                    </button>
                  </h2>
                  <div
                    id="question-three"
                    class="accordion-collapse collapse"
                    data-bs-parent="#questions"
                  >
                    <div class="accordion-body">
                        Getting started is simple. All you need to do is sign up, select a subscription tier that fits your goals, 
                        and you’re ready to begin practicing scenarios with our advanced role-play AI. 
                        Our platform is designed to be user-friendly, so you can focus on enhancing your skills right away.
                        You'll have access to automated assessments, feedback, and more.
                    </div>
                  </div>
                </div>
                <!-- Item 4 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-four"
                    >
                      How Do I sign up?
                    </button>
                  </h2>
                  <div
                    id="question-four"
                    class="accordion-collapse collapse"
                    data-bs-parent="#questions"
                  >
                    <div class="accordion-body">
                        Signing up is quick and easy. 
                        Just click on the Sign Up button at the top of the page and follow the straightforward instructions to create your account. 
                        In just a few minutes, you’ll be on your way to exploring our wide range of role-play scenarios.
                    </div>
                  </div>
                </div>
                <!-- Item 5 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-five"
                    >
                     How can you help me?
                    </button>
                  </h2>
                  <div
                    id="question-five"
                    class="accordion-collapse collapse"
                    data-bs-parent="#questions"
                  >
                    <div class="accordion-body">
                        We’re here to help you practice and improve a vast array of skills. 
                        Whether you’re looking to enhance customer service techniques, boost sales performance, 
                        develop social work strategies, or prepare for policing scenarios, our AI-driven 
                        platform offers realistic role-play experiences tailored to your needs. 
                        With us, you can simulate almost any situation you want to try, allowing 
                        you to gain confidence and expertise in a risk-free environment.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      
          <section id="team" class="p-5 bg-primary">
            <div class="container">
              <h2 class="text-center text-white">Our Team</h2>
              <p class="lead text-center text-white mb-5">
                Our team are experts in AI and education, and are dedicated to helping you succeed.
              </p>
              <div class="row g-4">
                <div class="col-md-6">
                  <div class="card bg-light appear">
                    <div class="card-body text-center">
                        <div class="d-none d-sm-block">
                            <img
                            src="{% static 'img/trav-profile.jpeg' %}"
                            style="width: 250px;"
                            class="rounded-circle mb-3"
                            alt="Trav Mason profile picture"
                            />
                        </div>
                      <h3 class="card-title mb-3">Trav Mason</h3>
                      <p class="card-text">
                        Founder and CEO of Learn By AI. Trav is passionate about education and technology, and is dedicated to helping you succeed.
                      </p>
                      <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                      <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                      <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                      <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                  </div>
                </div>
      
                <div class="col-md-6">
                  <div class="card bg-light appear">
                    <div class="card-body text-center">
                        <div class="d-none d-sm-block">
                            <img
                                src="{% static 'img/tania-profile.jpeg' %}"
                                style="width: 250px;"
                                class="rounded-circle mb-3"
                                alt="Tania Mason profile picture"
                            />
                        </div>
                      <h3 class="card-title mb-3">Tania Ralph</h3>
                      <p class="card-text">
                        Tania is our COO and gets things done. She is passionate about creating realistic role-play scenarios to help you succeed.
                      </p>
                      <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                      <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                      <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                      <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

  {% endblock %}