.slide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition : all 1s;
}

.appear {
    opacity: 0;
    filter: blur(5px);
    transition : all 1s;}

@media(prefers-reduced-motion) {
    .slide {
        transition : none;
    }
    .appear {
        transition : none;
    }
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

