option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: chat_project.wsgi:application

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --no-input"
    leader_only: true

  02_create_superuser:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py ensure_adminuser --no-input"
    leader_only: true

  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true

  30_creategroups:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py create_groups --no-input"
    leader_only: true