<!-- chat_app/templates/chat_app/login.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<section class="vh-50">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <h2>Login</h2>
            <div id="g_id_onload"
                data-client_id="175365173077-egetlbpsevua120elt1pm2oc47dtgk2q.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-itp_support="true">
            </div>
            <div class="g_id_signin"
                data-type="standard"
                data-shape="pill"
                data-theme="outline"
                data-text="signup_with"
                data-size="large"
                data-logo_alignment="center"
                data-width="400">
            </div>
            <div class="separator">or</div>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
{% block extra_js %}
<script src="https://accounts.google.com/gsi/client"></script>
<script>
  function getCookie(name) {
    // typical Django CSRF cookie extraction
    let cookieValue = null;
    const cookies = document.cookie ? document.cookie.split(';') : [];
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
    console.log('cookieValue: ', cookieValue);
    return cookieValue;
  }

  const csrftoken = getCookie('csrftoken');
  console.log('csrftoken: ', csrftoken);

  function handleCredentialResponse(response) {
    const id_token = response.credential;
    console.log('made it into handleCredential: ', id_token);
    fetch('/accounts/google/login/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({ token: id_token })
    })
    .then(res => {
      if (res.ok) {
        window.location.href = "/dashboard";
      } else {
        console.error("Login failed", res.statusText);
      }
    });
  }

  google.accounts.id.initialize({
    client_id: "175365173077-egetlbpsevua120elt1pm2oc47dtgk2q.apps.googleusercontent.com",
    callback: handleCredentialResponse
  });
  google.accounts.id.prompt();
</script>
{% endblock %}
