{% extends 'base.html' %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
<section class="vh-50">
    <div class="container py-5 h-100">

<h1>WEBSITE TERMS & CONDITIONS OF USE</h1>

<h3>
1.       About the Website
</h3>
<ol type=a>
    <li>Welcome to rolegenie.com.au (Website). The Website allows you to access and use theRolegenie (Services)</li>
    <li>The Website is operated by Rolegenie, ACN/ABN 28 629 348 054 . Access to and use ofthe Website, or any of its associated products or Services, is provided by Rolegenie.Please read these terms and conditions (Terms) carefully. By using, browsing and/orreading the Website, this signifies that you have read, understood and agree to be boundby the Terms. If you do not agree with the Terms, you must cease usage of the Website, orany of Services, immediately.</li>
    <li>Rolegenie reserves the right to review and change any of the Terms by updating this pageat its sole discretion. When Rolegenie updates the Terms, it will use reasonableendeavours to provide you with notice of updates to the Terms. Notification will be via emailto the registered address of users within 48 hours of the change. Any changes to the Termstake immediate effect from the date of their publication. Before you continue, werecommend you keep a copy of the Terms for your records.</li>
</ol>

<h3>2.       Acceptance of the Terms</h3>

You accept the Terms by remaining on the Website. Where the option is available in the userinterface, you may also accept the Terms by clicking to accept or agree to the Terms.

<h3>3.       About the Service</h3>
<ol type="a">
    <li>Rolegenie is a roleplay automation application that provides simulated conversations for the purpose of training augmentation and associated assessment and reporting.</li>
    <li>Free, personal and business accounts are currently offered. You acknowledge and agree that the accounts offered, as well as the account features may change from time to time, and may be governed by separate terms which apply specific to the account. Where special account-specific terms apply, you will be informed, and must accept those terms before you are given such an account. For the avoidance of doubt these Terms apply unless otherwise agreed or amended by account-specific terms.</li>
    <li>Some accounts may be governed by a separate Software Licensing Agreement with Rolegenie, which may amend the terms of use. For the avoidance of doubt these Terms apply unless otherwise agreed or amended by the terms of an applicable Software Licensing Agreement.</li>
    <li>The Service may be subject to limitations, delays, and other problems inherent in the use of the internet and electronic communications. is not responsible for any delays, delivery failures, or other damage resulting from such problems.</li>
</ol>

<h3>4.       Acceptable use of the Service</h3>
<ol type="a">
    <li>Rolegenie, its related features, and website must only be used lawfully. Rolegenie reserves the right to suspend, cancel, or otherwise deny access to users and accounts who use the service:
        <ol type="i">
            <li>To engage in any act that would disrupt the access, availability, and security of Rolegenie and other Rolegenie services, including but not limited to:
                <ol type="A">
                    <li>Tampering with, reverse-engineering, or hacking our servers.</li>
                    <li>Modifying, disabling, or compromising the performance of Rolegenie or other Rolegenie services.</li>
                    <li>Overwhelming, or attempting to overwhelm our infrastructure by imposing an unreasonably large load on our systems that consume extraordinary resources.</li>
                    <li>Compromising the integrity of our system, including probing, scanning, and testing the vulnerability of our system unless expressly permitted by Rolegenie.</li>
                </ol>
            </li>
        </ol>
    </li>
    <li>For any illegal purpose, or to violate any laws, including and without limitation to data, privacy, and export control laws.</li>
    <li>To stalk, harass, or threaten users and any member of the public.</li>
    <li>To misrepresent or defraud any user or member of the public through phishing, spoofing, manipulating headers or other identifiers, impersonating anyone else, or falsely implying any sponsorship or association with Rolegenie or any third party.</li>
    <li>To access or search any part of the Service, or any other Service owned by Rolegenie other than our publicly supported interface, or otherwise allowed for in an applicable Software Licensing Agreement.</li>
    <li>To post, upload, share, or otherwise circulate content in violation of Rolegenie’s content policy.</li>
    <li>To use the Service in any way that violates the intellectual property rights of any third party, including but not limited to copying, modifying, or distributing any content without proper authorization.</li>
</ol>
<h3>5.       Security and Data Privacy</h2>
 
    Rolegenie takes your privacy seriously and information provided through your use of the Website and/or Services are subject to Rolegenie’s Privacy Policy, which is available on the Website. The Privacy Policy also addresses Rolegenie’s processes, policies, and obligations in respect of Rolegenie security breaches.
    implements industry-standard security measures to protect your data, including encryption, regular security audits, and restricted access controls. However, no method of transmission over
     
    the Internet or method of electronic storage is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.
    In addition to standard security measures, Rolegenie implements industry-leading encryption protocols including TLS for data in transit and AES-256 for stored data. User data is retained for 30 days after account termination, during which time users may request complete data export or deletion. In the event of a security breach, Rolegenie will notify affected users within 24 hours, providing detailed information about the breach's nature, affected data, and remedial actions taken.
    
<h3>6.       Data Use</h2>
 
    Rolegenie collects, stores, and processes your data on Rolegenie. The data is used to provide Services to you, as well as to facilitate Rolegenie’s business operations. The Privacy Policy outlined how your data is collected, stored, and processed by Rolegenie. The Privacy Policy also addresses Rolegenie's processes, policies, and obligations in respect of data encryption and
    removal requests.
    
<h3>7.       Subscription to use the Service</h2>

    <ol type="a">
        <li>In order to access the Services, you must first purchase a subscription through the Website (Subscription) and pay the applicable fee for the selected Subscription (Subscription Fee). After purchasing a Subscription, you will be considered a member (‘Member’).</li>
        <li>In purchasing the Subscription, you acknowledge and agree that it is your responsibility to ensure that the Subscription you elect to purchase is suitable for your use.</li>
        <li>Before, during or after you have purchased the Subscription, you will then be required to register for an account through the Website before you can access the Services (Account).</li>
        <li>As part of the registration process, or as part of your continued use of the Services, you may be required to provide personal information about yourself (such as identification or contact details), including but not limited to email address, name, location (country of residence).</li>
        <li>You warrant that any information you give to Rolegenie in the course of completing the registration process will always be accurate, correct and up to date.</li>
        <li>Once you have completed the registration process, you will be a registered user of the Website and agree to be bound by the Terms ("User"). As a Member you will be granted immediate access to the Services from the time you have completed the registration process until the subscription period expires (Subscription Period).</li>
        <li>You may not use the Services and may not accept the Terms if:
            <ol type="i">
                <li>you are not of legal age to form a binding contract with Rolegenie; or</li>
                <li>you are a person barred from receiving the Services under the laws of Australia or other countries including the country in which you are resident or from which you use the Services</li>
            </ol>
        </li>
        <li>Subscription Fees are subject to change at 's discretion. Any changes to Subscription Fees will be notified to you at least 30 days before the change takes effect. If you do not agree with the changes, you may cancel your Subscription before the new fees come into effect.</li>
    </ol>
<h3>8.       Payments</h2>

    <ol type="a">
        <li>Subject to the terms of any applicable Software License Agreement, the Subscription Fee may be paid by all payment methods available on the Website, and may change from time to time.</li>
        <li>Payments made in the course of your use of Rolegenie may be made using third-party applications and services not owned, operated, or otherwise controlled by Rolegenie. You acknowledge and agree that Rolegenie will not be liable for any losses or damage arising from the operations of third-party payment applications and services. You further acknowledge and warrant that you have read, understood and agree to be bound by the terms and conditions of the applicable third-party payment applications and services you choose to use as a payment method for Rolegenie services.</li>
        <li>You acknowledge and agree that where a request for the payment of the Subscription Fee is returned or denied, for whatever reason, by your financial institution or is unpaid by you for any other reason, then you are liable for any costs, including banking fees and charges, associated with the Subscription Fee.</li>
        <li>You agree and acknowledge that Rolegenie can vary the Subscription Fee at any time and that the varied Subscription Fee will come into effect following the conclusion of the existing Subscription.</li>
    </ol>

<h3>9. Refund Policy</h3>
    <ol type="a">
        <li>Rolegenie offers refunds in accordance with the Australian Consumer Law and on the terms set out in these terms and conditions. Any benefits set out in these terms and conditions may apply in addition to consumer's rights under the Australian Consumer Law.</li>
        <li>Rolegenie will only provide you with a refund of the Subscription Fee in the event they are unable to continue to provide the Services or if the manager of Rolegenie makes a decision, at its absolute discretion, that it is reasonable to do so under the circumstances. Where this occurs, the refund will be in the proportional amount of the Subscription Fee that remains unused by the Member (Refund).</li>
    </ol>

<h3>10. Copyright and Intellectual Property</h3>
    <ol type="a">
        <li>The Website, the Services and all of the related products of Rolegenie are subject to copyright. The material on the Website is protected by copyright under the laws of Australia and through international treaties. Unless otherwise indicated, all rights (including copyright) in the Services and compilation of the Website (including but not limited to text, graphics, logos, button icons, video images, audio clips, Website code, scripts, design elements and interactive features) are owned or controlled for these purposes, and are reserved by Rolegenie or its contributors.</li>
        <li>All trademarks, service marks and trade names are owned, registered and/or licensed by Rolegenie, who grants to you a worldwide, non-exclusive, royalty-free, revocable license whilst you are a User to:
            <ol type="i">
                <li>use the Website pursuant to the Terms;</li>
                <li>copy and store the Website and the material contained in the Website in your device's cache memory; and</li>
                <li>print pages from the Website for your own personal and non-commercial use.</li>
            </ol>
        </li>
        <li>Rolegenie does not grant you any other rights whatsoever in relation to the Website or the Services. All other rights are expressly reserved by Rolegenie.</li>
        <li>Rolegenie retains all rights, title and interest in and to the Website and all related Services. Nothing you do on or in relation to the Website will transfer any:
            <ol type="i">
                <li>business name, trading name, domain name, trade mark, industrial design, patent, registered design or copyright, or</li>
                <li>a right to use or exploit a business name, trading name, domain name, trade mark or industrial design, or</li>
                <li>a thing, system or process that is the subject of a patent, registered design or copyright (or an adaptation or modification of such a thing, system or process), to you.</li>
            </ol>
        </li>
        <li>You may not, without the prior written permission of Rolegenie and the permission of any other relevant rights owners: broadcast, republish, upload to a third party, transmit, post, distribute, show or play in public, adapt or change in any way the Services or third-party Services for any purpose, unless otherwise provided by these Terms. This prohibition does not extend to materials on the Website which are freely available for re-use or are in the public domain.</li>
        <li>Any unauthorized use, reproduction, or distribution of Rolegenie's intellectual property, including but not limited to reverse engineering, decompiling, creating derivative works, or circumventing technical protection measures, shall constitute a material breach of these Terms. Such violations may result in immediate account termination, legal action, and monetary damages of up to $100,000 per infringement, plus any legal costs incurred in enforcing these rights.</li>
        <li>You agree to indemnify, defend, and hold harmless Rolegenie, its officers, directors, employees, agents, licensors, suppliers, and any third-party information providers from and against all losses, expenses, damages, and costs, including reasonable attorneys' fees, resulting from any violation of these Terms or any activity related to your Account (including negligent or wrongful conduct) by you or any other person accessing the Service using your Account.</li>
    </ol>

<h3>11. General Disclaimer</h3>
    <ol type="a">
        <li>Nothing in the Terms limits or excludes any guarantees, warranties, representations or conditions implied or imposed by law, including the Australian Consumer Law (or any liability under them) which by law may not be limited or excluded.</li>
        <li>Subject to this clause, and to the extent permitted by law:
            <ol type="i">
                <li>all terms, guarantees, warranties, representations or conditions which are not expressly stated in the Terms are excluded; and</li>
                <li>Rolegenie will not be liable for any special, indirect or consequential loss or damage (unless such loss or damage is reasonably foreseeable resulting from our failure to meet an applicable Consumer Guarantee), loss of profit or opportunity, or damage to goodwill arising out of or in connection with the Services or these Terms (including as a result of not being able to use the Services or the late supply of the Services), whether at common law, under contract, tort (including negligence), in equity, pursuant to statute or otherwise.</li>
            </ol>
        </li>
        <li>Use of the Website and the Services is at your own risk. Everything on the Website and the Services is provided to you "as is" and "as available" without warranty or condition of any kind. None of the affiliates, directors, officers, employees, agents, contributors, and licensors of Rolegenie make any express or implied representation or warranty about the Services or any products or Services (including the products or Services of Rolegenie) referred to on the Website. This includes (but is not restricted to) loss or damage you might suffer as a result of any of the following:
            <ol type="i">
                <li>failure of performance, error, omission, interruption, deletion, defect, failure to correct defects, delay in operation or transmission, computer virus or other harmful component, loss of data, communication line failure, unlawful third-party conduct, or theft, destruction, alteration, or unauthorized access to records;</li>
                <li>the accuracy, suitability, or currency of any information on the Website, the Services, or any of its Services-related products (including third-party material and advertisements on the Website);</li>
                <li>costs incurred as a result of you using the Website, the Services, or any of the products of Rolegenie; and</li>
                <li>the Services or operation in respect to links which are provided for your convenience.</li>
            </ol>
        </li>
    </ol>
    
<h3>12. Limitation of Liability</h3>
    <ol type="a">
        <li>Rolegenie's total liability arising out of or in connection with the Services or these Terms, however arising, including under contract, tort (including negligence), in equity, under statute or otherwise, will not exceed the resupply of the Services to you.</li>
        <li>You expressly understand and agree that Rolegenie, its affiliates, employees, agents, contributors, and licensors shall not be liable to you for any direct, indirect, incidental, special, consequential, or exemplary damages which may be incurred by you, however caused and under any theory of liability. This shall include, but is not limited to, any loss of profit (whether incurred directly or indirectly), any loss of goodwill or business reputation, and any other intangible loss.</li>
    </ol>
    
<h3>13. Termination of Contract</h3>
    <ol type="a">
        <li>The Terms will continue to apply until terminated by either you or by Rolegenie as set out below.</li>
        <li>If you want to terminate the Terms, you may do so by:
            <ol type="i">
                <li>not renewing the Subscription prior to the end of the Subscription Period;</li>
                <li>providing Rolegenie with 30 days’ notice of your intention to terminate; and</li>
                <li>closing your accounts for all of the services which you use, where Rolegenie has made this option available to you.</li>
            </ol>
        </li>
        <li>Any notices pursuant to Clause 13(b) above should be sent, in writing, to Rolegenie via the 'Contact Us' link on our homepage.</li>
        <li>Rolegenie may at any time terminate the Terms with you if:
            <ol type="i">
                <li>you do not renew the Subscription at the end of the Subscription Period;</li>
                <li>you have breached any provision of the Terms or intend to breach any provision;</li>
                <li>Rolegenie is required to do so by law;</li>
                <li>the provision of the Services to you by Rolegenie is, in the opinion of Rolegenie, no longer commercially viable.</li>
            </ol>
        </li>
        <li>Subject to local applicable laws, Rolegenie reserves the right to discontinue or cancel your Subscription or Account at any time and may suspend or deny, in its sole discretion, your access to all or any portion of the Website or the Services without notice if you breach any provision of the Terms or any applicable law or if your conduct impacts Rolegenie's name or reputation or violates the rights of another party.</li>
    </ol>

<h3>15. Dispute Resolution</h3>

    <h4>15.1. Compulsory:</h4>
    <p>If a dispute arises out of or relates to the Terms, either party may not commence any Tribunal or Court proceedings in relation to the dispute, unless the following clauses have been complied with (except where urgent interlocutory relief is sought).</p>
    
    <h4>15.2. Notice:</h4>
    <p>A party to the Terms claiming a dispute (Dispute) has arisen under the Terms, must give written notice to the other party detailing the nature of the dispute, the desired outcome and the action required to settle the Dispute.</p>
    
    <h4>15.3. Resolution:</h4>
    <p>On receipt of that notice (Notice) by that other party, the parties to the Terms (Parties) must:</p>
    <ol type="a">
        <li>Within 28 days of the Notice endeavour in good faith to resolve the Dispute expeditiously by negotiation or such other means upon which they may mutually agree;</li>
        <li>If for any reason whatsoever, 28 days after the date of the Notice, the Dispute has not been resolved, the Parties must either agree upon selection of a mediator or request that an appropriate mediator be appointed by the Law Institute of Victoria;</li>
        <li>The Parties are equally liable for the fees and reasonable expenses of a mediator and the cost of the venue of the mediation and without limiting the foregoing undertake to pay any amounts requested by the mediator as a precondition to the mediation commencing. The Parties must each pay their own costs associated with the mediation;</li>
        <li>The mediation will be held in Victoria, Australia.</li>
    </ol>
    
    <h4>15.4. Confidential</h4>
    <p>All communications concerning negotiations made by the Parties arising out of and in connection with this dispute resolution clause are confidential and to the extent possible, must be treated as "without prejudice" negotiations for the purpose of applicable laws of evidence.</p>
    
    <h4>15.5. Termination of Mediation:</h4>
    <p>If 2 months have elapsed after the start of a mediation of the Dispute and the Dispute has not been resolved, either Party may ask the mediator to terminate the mediation and the mediator must do so.</p>

<h3>16. Venue and Jurisdiction</h3>
    <p>The Services offered by Rolegenie are intended to be viewed by residents of Australia. In the event of any dispute arising out of or in relation to the Website, you agree that the exclusive venue for resolving any dispute shall be in the courts of Victoria.</p>
    
<h3>17. Governing Law</h3>
    <p>The Terms are governed by the laws of Victoria. Any dispute, controversy, proceeding or claim of whatever nature arising out of or in any way relating to the Terms and the rights created hereby shall be governed, interpreted and construed by, under and pursuant to the laws of Victoria, Australia without reference to conflict of law principles, notwithstanding mandatory rules. The validity of this governing law clause is not contested. The Terms shall be binding to the benefit of the parties hereto and their successors and assigns.</p>
    
<h3>18. Severance</h3>
    <p>If any part of these Terms is found to be void or unenforceable by a Court of competent jurisdiction, that part shall be severed and the rest of the Terms shall remain in force.</p>

</div>
</section>
{% endblock %}